body {background-color: #E1E5EA;

}

hr {
  background-color: none;
  border-style: none;
  height: 2px;
  width: 6%;
  border-top: 5px dotted grey;
}

h1 {
  color: #A7BBC7;
}

h3 {
  color: #A7BBC7;
}
